/* Задание 1. */
.parent {
	padding: 10px 0;
	border: 1px solid red;
	text-align: center;
}
.child {
	display: inline-block;
	padding: 10px;
	border: 1px solid green;
	margin: 0px 5px 0px;
}

/* Задание 2. */
.parent {
	padding: 10px 0;
	border: 1px solid red;
	text-align: right;
	padding-right: 10px;
}
.child {
	display: inline-block;
	padding: 10px;
	border: 1px solid green;
	margin-right: 10px;

	
}

/* Задание 3. */
.parent {
	padding: 10px 0;
	border: 1px solid red;
	text-align: right;
}
.child {
	display: inline-block;
	width: 100px;
	padding: 10px;
	border: 1px solid green;
	text-align: center;
}

