
/* Задание 3. */
#wrapper {
	width: 700px;
	margin: 0 auto;
}
#wrapper h1 {
	font: 30px "Times New Roman";
	text-align: center;
}
#wrapper a {
	color: blue;
	text-decoration: none;

}
#wrapper a:hover {
	text-decoration: underline;
}

#wrapper div {
	margin-bottom: 20px;
	border: 1px solid #707070;
	padding: 20px;
}
#wrapper p {
	margin: 10px 0;
	text-align: justify;
}
#wrapper p.more {
	text-align: right;
	padding-right: 20px;

}

